@charset "UTF-8";
	@font-face{font-family: "NotoSansKR-Bold";src:url('fonts/NotoSansKR-Bold.otf');}
	@font-face{font-family: "NotoSansKR-Thin";src:url('fonts/NotoSansKR-Thin.otf');}
	@font-face{font-family: "NotoSansKR-Black";src:url('fonts/NotoSansKR-Black.otf');}
	@font-face{font-family: "NotoSansKR-Light";src:url('fonts/NotoSansKR-Light.otf');}
	@font-face{font-family: "NotoSansKR-Medium";src:url('fonts/NotoSansKR-Medium.otf');}
	@font-face{font-family: "NotoSansKR-Regular";src:url('fonts/NotoSansKR-Regular.otf');}
	html {color: #222;font-weight: 100;font-size: 1em;line-height: 1.375}
	body {margin: 0; font-family: "NotoSansKR-Medium",serif;}
	.vDnl_ {
		max-width: 650px;
		margin: 0 auto;
		background-color: #fff
	}
	.danger_icon:link { color: white; text-decoration: none;}
 	.danger_icon:visited { color: white; text-decoration: none;}
 	.danger_icon:hover { color: white; text-decoration: none;}

	._33cd2{position:relative;width:100%;z-index:10}
	._1t1Y8{margin-left:20px}
	._1t1Y8,._2kHD3{display:inline-block;position:absolute;top:15px;width:71px;height:32px;vertical-align:middle;line-height:32px;cursor:pointer}
	._2kHD3{right:15px;border-radius:100px;background-color:rgba(0,0,0,.8);font-size:13px;text-align:center;color:#fff}
	
	.NHtEz{position:relative;background-color:#fff;text-align:center;padding-top:30px}
	._3s0Sp{margin-bottom:10px}
	._3s0Sp img{border-radius:100px;margin-bottom:5px}
	._2cNHy{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;font-size:.85em;font-weight:400;color:#5a5a5a;margin-bottom:5px}
	._1EHsp{font-size:1em;font-weight:700;color:#000;margin-bottom:10px}
	._3HCWG{font-size:13px;font-weight:400;line-height:1.69;text-align:left;color:#484848;margin:17px}
	._16igQ{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:center;justify-content:center;margin-bottom:25px}
	._1qgZp{font-size:1em;color:#0e6f6f;-ms-flex-align:baseline;align-items:baseline}
	._1qgZp,._3LAfL,._2y3iE{font-weight:400}
	._2eHf6{width:1px;height:7px;background-color:#ccc;margin:0 10px}
	
	._C2zw1T{-ms-flex-pack:distribute;justify-content:space-around;border-top:1px solid #e6e6e6}
	.CXIc6g,._C2zw1T{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
	.CXIc6g{padding:20px 30px}
	._C1gHH2{width:1px;height:40px;background-color:#e6e6e6}
	._C1Y9r0{text-align:left;margin-left:15px}
	._C3TIsb{font-weight:400}
	._C1GMZ1,._C3TIsb{font-size:15.2px;font-size:.95rem;color:#3b3b3b}
	._C1GMZ1{font-weight:700}
	._C1mdUo{color:#37B04B}
	
	._D2zw1T{-ms-flex-pack:distribute;justify-content:space-around;border-top:1px solid #e6e6e6}
	.DXIc6g,._D2zw1T{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
	.DXIc6g{padding:20px 3px; margin-right: 7px}
	._D1gHH2{width:1px;height:40px;background-color:#e6e6e6; position: absolute}
	._D1Y9r0{text-align:left;margin-left:15px}
	._D3TIsb{font-weight:400; text-align: center;}
	._D1GMZ1,._D3TIsb{font-size:15.2px;font-size:.95rem;color:#3b3b3b}
	._D1GMZ1{font-weight:700}
	._D1mdUo{color:#37B04B; width: 300px}
	._DconBox{height: 300px; background-color: #f1f1f1}
	
	._E2zw1T{-ms-flex-pack:distribute;justify-content:space-around;border-top:1px solid #e6e6e6}
	.EXIc6g,._E2zw1T{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
	.EXIc6g{padding:20px 30px}
	._E1gHH2{width:1px;height:40px;background-color:#e6e6e6}
	._E1Y9r0{text-align:left;margin-left:15px}
	._E3TIsb{font-weight:400}
	._E1GMZ1,._E3TIsb{font-size:15.2px;font-size:.95rem;color:#3b3b3b}
	._E1GMZ1{font-weight:700}
	._E1mdUo{color:#37B04B}
	
	.EXIc6g_ard,._E2zw1T{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
	.EXIc6g_ard{padding:20px 30px}
	._E1Y9r0_ard{text-align:left;margin-left:15px}
	._E3TIsb_ard{font-weight:400}
	
	
	._2zw1T{-ms-flex-pack:distribute;justify-content:space-around;border-top:1px solid #e6e6e6}
	.XIc6g,._2zw1T{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center}
	.XIc6g{padding:20px 30px}
	._1gHH2{width:1px;height:40px;background-color:#e6e6e6}
	._1Y9r0{text-align:left;margin-left:15px}
	._3TIsb{font-weight:400}
	._1GMZ1,._3TIsb{font-size:15.2px;font-size:.95rem;color:#3b3b3b}
	._1GMZ1{font-weight:700}
	._1mdUo{color:#007e62}
	
	.comm_input_srd{width: 650px;}
	.comm_inputbox{width: 90%; height: 30px; border: 5px solid #e6e6e6; border-radius: 5px;}
	.comm_inputbox:focus{outline: 3px solid #37B04B;}
	.comm_inputbtn{width: 7%; height: 40px; background-color: #e6e6e6; border: none; line-height: 1px; border-radius: 5px;}
	.comm_inputbtn:focus{background-color: #37B04B; border: none; outline: none;}
	
	.comm_input_srd_sub{width: 640px;}
	.comm_inputbox_sub{width: 89%; height: 30px; border: 5px solid #e6e6e6; border-radius: 5px;}
	.comm_inputbox_sub:focus{outline: 3px solid #37B04B;}
	.comm_inputbtn_sub{width: 7%; height: 40px; background-color: #e6e6e6; border: none; line-height: 1px; margin-left: 5px; border-radius: 5px;}
	.comm_inputbtn_sub:focus{background-color: #37B04B; border: none; outline: none;}
	
	.comm_more_vert{float: right; margin-top: 2px;}
	
	.commentsList{background-color: #f1f1f1;}
	[class*='maincomm']{background-color: white;position: relative;padding: 5px;border-radius: 5px;margin: 5px;}
	
	
	.post_top_img {width:45px; height:45px;float: right;margin-top: -3px;margin-right: 0px;}
	
	
	.dialog {
	    width: 170px;
	    height: 60px;
	    background-color: #e6e6e6;
	    border: 1px solid #d3d3d3;
	    border-radius: 3px;
	    position: absolute;
	    margin-top: 5px;
	    margin-left: 490px;
	    z-index: 1;
	    box-shadow: -3px -3px 7px -3px #d3d3d3,
	                3px 3px 7px -3px #d3d3d3;
	}

	.dialog:after,
	.dialog:before {
	    content: '';
	    display: block;
	    position: absolute;
	    left: 100%;
	    width: 0;
	    height: 0;
	    border-style: solid;
	}
		
	.dialog:after {
	    margin-top: -43.6px;
	    margin-left: -30px;
	    border-color: transparent transparent #e6e6e6 transparent ;
	    border-width: 9px;
	}
	
	.dialog:before {
	    margin-top: -19.6px;
	    margin-left: -31px;
	    border-color: transparent transparent #d3d3d3 transparent;
	    border-width: 10px;
	}
	
	.cancel_div {
		margin-top: 3px;
		margin-left: 151px;
		cursor: pointer;
	}
	
	.delete_icon {
		float: right;
		margin-top: -9px;
		cursor: pointer;
	}
	
	.delete_txt {
		font-size: 12px; 
		font-weight: bold; 
		margin-top: -1px; 
		margin-right: 27px;
		float:right; 
		cursor: pointer;
	}
	.update_icon {
		float: right;
		margin-top: -9px;
		cursor: pointer;
	}
	
	.update_txt {
		font-size: 12px; 
		font-weight: bold; 
		margin-top: -1px; 
		margin-right: 27px;
		float:right; 
		cursor: pointer;
	}