<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.mapper.AdminMapper">
	
	<resultMap type="MasterVO" id="masterResultMap">
		<result property="m_id" column="m_id"/>
		<result property="m_password" column="m_password"/>
		<result property="m_photo" column="m_photo"/>
		<result property="m_name" column="m_name"/>
		<result property="m_age" column="m_age"/>
		<result property="m_gender" column="m_gender"/>
		<result property="m_address_road" column="m_address_road"/>
		<result property="m_address_detail" column="m_address_detail"/>
		<result property="m_email" column="m_email"/>
		<result property="m_phone" column="m_phone"/>
		<result property="m_category" column="m_category"/>
		<result property="m_type" column="m_type"/>
		<result property="m_heart" column="m_heart"/>
		<result property="m_status" column="m_status"/>
	</resultMap>
	
	<resultMap type="FAQVO" id="faqResultMap">
		<result property="f_num" column="f_num"/>
		<result property="f_sub" column="f_sub"/>
		<result property="f_content" column="f_content"/>
		<result property="f_date" column="f_date"/>
		<result property="f_readcount" column="f_readcount"/>
	</resultMap>
	
	<resultMap type="MasterVO" id="matchResultMap">
		<result property="c_id" column="c_id"/>
		<result property="e_id" column="e_id"/>
		<result property="b_subject" column="b_subject"/>
		<result property="b_apply" column="b_apply"/>
		<result property="b_date" column="b_date"/>
		<result property="page" column="page"/>
		<result property="limit" column="limit"/>
	</resultMap>
	
	<resultMap type="MasterVO" id="dangerResultMap">
		<result property="d_num" column="d_num"/>
		<result property="b_num" column="b_num"/>
		<result property="c_num" column="c_num"/>
		<result property="d_date" column="d_date"/>
		<result property="m_id" column="m_id"/>
		<result property="d_id" column="d_id"/>
		<result property="d_con" column="d_con"/>
		<result property="d_status" column="d_status"/>
		<result property="d_s_date" column="d_s_date"/>
		<result property="d_type" column="d_type"/>
		<result property="page" column="page"/>
		<result property="limit" column="limit"/>
	</resultMap>
	
	<!-- 회원관리, FAQ -->
	<select id="adminProfile" parameterType="MasterVO" resultMap="masterResultMap">
		SELECT * FROM MEMBER
		WHERE m_id = #{m_id}
		AND m_type = 'M'
	</select>
	
	<select id="memberCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE NOT m_type = 'M'
		<if test="searchFiled != null and searchFiled != ''">
	    	AND ${searchFiled} like '%'||#{searchValue}||'%'
	    </if>
	    <if test='m_statusValue == "Y"'>
			AND ${m_statusFiled} = #{m_statusValue}
     	</if>
    	<if test='m_statusValue == "N"'>
     		AND ${m_statusFiled} = #{m_statusValue}
     	</if>
     	<if test='m_typeValue == "C"'>
			AND ${m_typeFiled} = #{m_typeValue}
     	</if>
    	<if test='m_typeValue == "E"'>
     		AND ${m_typeFiled} = #{m_typeValue}
     	</if>
	</select>
	
	<select id="memberList" parameterType="MasterVO" resultMap="masterResultMap">
	    SELECT A.*
        FROM (SELECT ROWNUM AS RNUM1, AA.*
            FROM (SELECT * FROM MEMBER
            	  WHERE NOT m_type = 'M'
				 <if test="searchFiled != null and searchFiled != ''">
			     	AND ${searchFiled} like '%'||#{searchValue}||'%'
			     </if>
			     <if test='m_statusValue == "Y"'>
			     	AND ${m_statusFiled} = #{m_statusValue}
			     </if>
			     <if test='m_statusValue == "N"'>
			     	AND ${m_statusFiled} = #{m_statusValue}
			     </if>
			     <if test='m_typeValue == "C"'>
					AND ${m_typeFiled} = #{m_typeValue}
     			</if>
    			<if test='m_typeValue == "E"'>
     				AND ${m_typeFiled} = #{m_typeValue}
     			</if>
		         ORDER BY m_name DESC
                  ) AA ) A
        <![CDATA[           
        WHERE RNUM1 >= #{startRowNo}
        AND RNUM1 <= #{endRowNo}
        ]]>
	</select>
	
	<select id="typeCCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE m_type = 'C'
	</select>
	
	<select id="typeECount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE m_type = 'E'
	</select>
	
	<select id="statusNCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE m_status = 'N'
		AND NOT m_type = 'M'
	</select>
	
	<select id="statusYCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE m_status = 'Y'
		AND NOT m_type = 'M'
	</select>
	
	<select id="topAddr" parameterType="MasterVO" resultMap="masterResultMap">
		SELECT * 
		FROM (SELECT m_address_road, CEIL(RATIO_TO_REPORT(COUNT(*)) OVER() * 100) percent
              FROM MEMBER
              GROUP BY m_address_road
		      ORDER BY m_address_road DESC)		  
		<![CDATA[  
		WHERE ROWNUM >= 1
		AND ROWNUM <= 3
		]]>
	</select>
	
	<select id="detailMember" parameterType="MasterVO" resultMap="masterResultMap">
		SELECT * FROM MEMBER
		WHERE m_id = #{m_id}
	</select>
	
	<update id="updateYStatus" parameterType="MasterVO">
		UPDATE MEMBER
		SET m_status = 'Y'
		WHERE m_id = #{m_id}
	</update>
	
	<update id="updateNStatus" parameterType="MasterVO">
		UPDATE MEMBER
		SET m_status = 'N'
		WHERE m_id = #{m_id}
	</update>
	
	<select id="faqMemberCheck" parameterType="MasterVO" resultMap="masterResultMap">
		SELECT * FROM MEMBER
		WHERE m_id = #{m_id}		
	</select>
	
	<select id="faqCount" resultType="int">
		SELECT COUNT(*) FROM FAQ
	</select>
	
	<select id="faqList" parameterType="FAQVO" resultMap="faqResultMap">
		SELECT * FROM FAQ
	</select>
	
	<select id="adminCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE m_id = #{m_id}
		AND m_password = #{m_password}
		AND m_type = 'M'
	</select>
	
	<insert id="faqInsert" parameterType="FAQVO">
		INSERT INTO FAQ(f_sub, f_content, f_date, f_readcount)
		VALUES (#{f_sub}, #{f_content}, SYSDATE, 0)
	</insert>
	
	<select id="faqDetail" parameterType="FAQVO" resultMap="faqResultMap">
		SELECT * FROM FAQ
		WHERE f_num = #{f_num}
	</select>
	
	<update id="faqUpdate" parameterType="FAQVO">
		UPDATE FAQ
		SET f_sub = #{f_sub}, f_content = #{f_content}
		WHERE f_num = #{f_num}
	</update>
	
	<delete id="faqDelete" parameterType="FAQVO">
		DELETE FROM FAQ
		WHERE f_num = #{f_num}
	</delete>
	
	<!-- ======================================================================== -->
	
	<!-- 호준님 (신고, 매칭) -->
	<select id="matchCount" resultType="int">
		SELECT COUNT(*) FROM accept where a_apply = 'Y'
		<choose>
			<when test="searchFiled != null and searchFiled != ''">
	            and ${searchFiled} like '%'||#{searchValue}||'%' 
	        </when>
		</choose>
	</select>
	
	<select id="matchList" parameterType="MasterVO" resultMap="matchResultMap">
	    SELECT x.*
        FROM (SELECT ROWNUM AS RNUM1, AA.*
            FROM (SELECT accept.*,board.b_subject FROM accept 
            inner join board on accept.b_num = board.b_num
             where a_apply='Y'
                  <choose>
				    <when test="searchFiled != null and searchFiled != ''">
			             and ${searchFiled} like '%'||#{searchValue}||'%'
			          </when>
			          <otherwise>
			          		 order by b_subject desc
			          </otherwise>
				  </choose>
                  ) AA ) x
        <![CDATA[           
        WHERE RNUM1 >= #{startRowNo}
        AND RNUM1 <= #{endRowNo}
        ]]>
	</select>
	
	<select id="dangerCount" resultType="int">
		SELECT COUNT(*) FROM danger
		<choose>
			<when test="searchFiled != null and searchFiled != ''">
	            where ${searchFiled} like '%'||#{searchValue}||'%' 
	        </when>
		</choose>
	</select>
	
	<select id="dangerList" parameterType="MasterVO" resultMap="dangerResultMap">
	    SELECT A.*
        FROM (SELECT ROWNUM AS RNUM1, AA.*
            FROM (SELECT danger.*,board.b_subject FROM danger
                  inner join board on danger.b_num = board.b_num
                  <choose>
				      <when test="searchFiled != null and searchFiled != ''">
			              WHERE ${searchFiled} like '%'||#{searchValue}||'%'
			          </when>

				  </choose>
                  ) AA ) A
        <![CDATA[           
        WHERE RNUM1 >= #{startRowNo}
        AND RNUM1 <= #{endRowNo}
        ]]>
	</select>
	
	<update id="dangerOK" parameterType="String">
		update danger set d_status = 'O' where d_id = #{d_id}
	</update>

	<update id="dangerNO" parameterType="String">
		update danger set d_status = 'X' where d_id = #{d_id}
	</update>
	
</mapper>